/*
fonts---->
    https://fonts.google.com/specimen/Overlock
    https://stackoverflow.
font-style&weight---->
    com/questions/7256065/specifying-style-and-weight-for-google-fonts
color-picker-for-color-scheme---->
    https://imagecolorpicker.com/
*/


@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
:root{
    --clr-primary-200:#e6e3e2;
    --clr-primary-300:#f0ddc2;
    --clr-primary-400:#683a2a;
    --clr-neutral-100:#FFF;
    --clr-neutral-900:#1d1f1e;
    --ff-primary:'Roboto',sans-serif;
    --ff-accent:'Overlock', cursive;
}
*{
    margin: 0;
    }
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: var(--ff-primary);
    font-weight:400;
    font-size: 1.3125rem;
    line-height: 1.6;
}

#slider {
	overflow: hidden;
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

h1,
h2,
h3,
p{
    margin:0;
}

h1,
h2,
h3{
    color: var(--clr-primary-400);
    font-family: var(--ff-accent);
    font-weight:900;
    line-height: 1;
    margin-bottom: 0.5em; 

}

h2,p{
    margin-bottom: 1em; 
}

img{
    display: block;
    max-width: 100%;
}
.text-center{
    text-align: center;
}

header,section{
  padding:3rem 0;
}
@media (min-width:40em){
  header,section{
      padding: 7rem 0;
  }
}
footer,section{
  padding:3rem 0;
}
@media (min-width:40em){
  footer,section{
      padding: 7rem 0;
  }
}
.container{
    margin:auto;
    width:min(90%,70.5rem);

}
.split{
    display: flex;
    flex-direction: column;
}
@media (min-width:40em){
    .split{
        flex-direction: row;
    }
    .split > *{
        flex-basis: 100%;
    }
    .split > *+*{
        margin-left: 2em;
    }
}
.container--narrow{
    max-width: 35rem;
}

.bg-here{background-color: var(--clr-primary-200)}
.bg-deals{background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    }
.bg-explore{background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    }

.bg-deals h2{
    color: var(--clr-primary-200);
}
.bg-explore h2{
    color: var(--clr-primary-300);
}
.bg-here .container p{
  font-family: 'Allison', cursive;
  font-size: 1.5em;
}
footer div ul {
  padding: 0;
  font-size: 1.2em;
}
footer div h1 {
  padding: 1em;
  font-size: 1.1em;
}
footer div ul li {
  display: inline-block;
  width: 1.5em;
}
footer div ul li.grow {
  transition: all 0.2s ease-in-out;
}
footer div ul li.grow:hover {
  transform: scale(1.5);
}
.container .split img {
  transition: all 0.8s ease-in-out;
}
.container .split img:hover {
  transform: scale(1.1);
}